<br>
<br>
<div class="form-group col-4 offset-4">
  <div class="title">
    <span>Demande de prestation</span>
  </div>
  <br>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Voiture sélectionnée: </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <!--<div *ngFor="let car of cars"><button ngbDropdownItem>{{car.name}}</button></div>-->
    </div>
  </div>
</div>

