.form-group{
    background-color: #5a6268;
    border-color: #545b62;
    border-radius: 0.25rem;
    height: 1000px;
}
.title{
    color: orange;
    font-size: 30px;
    text-align: center;
}
.btn-outline-primary {
    color: orange;
    border-color: orange;
}