.header{
    height: 8%;
    background-color: black;
    color: white;
    border-radius: 25px;
    text-align: left;
    font-size: 51px;
}
span{
    font-weight: bold;
}
#headerSpan{
    font-weight: normal;
}
.chat{
    height:400px;
    width: auto;
    background-color: darkgrey;
}
#Enregistrer{
    width: 40%;
    height: 100px;
    background-color: orange;
    font-size: larger;
    color: white;
    border-radius: 10px;
    font-size: larger;
    border: none;
}
#Annuler{
    width: 40%;
    height: 100px;
    background-color:black;
    font-size: larger;
    color: white;
    margin-left: 20%;
    border-radius: 10px;
    border: none;
}