<div class="header col-12">
    <span id='headerSpan'>Fiche de service #0000</span>
</div>
<br>
<div class="content col-10 offset-1">
    <span>Planifié le:</span> 01.01.2020
    <br>
    <span>Commandé le:</span> 01.01.2020
    <br>
    <br>
    <div class="statut">
    <span>Statut :</span> en attente <button mat-button>Passer à effectuer</button><button mat-button color="warn" id='Rembourser'>Rembourser</button>
    </div>
    <br>
    <span>Type :</span>Carwash
    <span>Service :</span>intérieur + extérieur
    <br>
    <br>
    <span>Véhicule :</span><br>
    Marque/Modèle: Citröen Saxo<br>
    Couleur: Noir<br>
    Plaque: GE 123456
    <br>
    <br>
    <div class="chat">
        Systeme de Chat
    </div>
    <br>
    <span>Note personnelle :</span><br>
    Le service prend plus de temps que prévu, il a été décalé au lendemain avec accord du client.
    <br>
    <br>
    <div class="row">
        <button id = 'Enregistrer'>Enregistrer</button><button id = 'Annuler'>Annuler</button>
    </div>

</div>
