<br>
<span id = 'planning'>Planning</span>
<br>
<br>
<br>
<div id ='commandes' class='col-8 offset-2'>
  <div class ="commandesHead col-row col-12">
    <span class = 'col-5'>Commandes</span>
    <input class = 'col-3' id= 'commandeSearch' type="text"  placeholder="Chercher">
    <img src="../../assets/icon/loupe.png">
  </div>
  <form>
    <br>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  <table id='commandesForm' class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Horaire</th>
      <th scope="col">Véhicule</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Accepter ?</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fakeCommandes of fakeCommandesPresta$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <a (click)="openDialog()"><ngb-highlight [result]="fakeCommandes.id" [term]="filter.value"></ngb-highlight></a>
      </td>
      <td><ngb-highlight [result]="fakeCommandes.type" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="fakeCommandes.horaire" ></ngb-highlight></td>
      <td><ngb-highlight [result]="fakeCommandes.vehicule" ></ngb-highlight></td>
      <td><ngb-highlight [result]="fakeCommandes.commentaire" ></ngb-highlight></td>
      <td>
        <div id="check" class="row">
          <img id = "oui" src="../../assets/icon/oui.png"><img id = "non" src="../../assets/icon/non.png">
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<!-- ----------------------------------------------------------------------------->
<div id ='servicesPlan' class='col-8 offset-2'>
  <div class ="servicesPlanHead col-row col-12">
    <span class = 'col-7'>Services plannifiés</span>
    <input class = 'col-3' id= 'servicesPlanSearch' type="text"  placeholder="Chercher">
    <img src="../../assets/icon/loupe.png">
  </div>
  <mat-tab-group>
    <mat-tab label="Aujourd'hui">
      <form id='aujourdhui'>
        <br>
        <div class="form-group form-inline">
            Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Horaire</th>
            <th scope="col">Véhicule</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Effectué ?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let fakeCommandes of fakeCommandesPresta$ | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <ngb-highlight [result]="fakeCommandes.id" [term]="filter.value"></ngb-highlight>
            </td>
            <td><ngb-highlight [result]="fakeCommandes.type" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="fakeCommandes.horaire" ></ngb-highlight></td>
            <td><ngb-highlight [result]="fakeCommandes.vehicule" ></ngb-highlight></td>
            <td><ngb-highlight [result]="fakeCommandes.commentaire" ></ngb-highlight></td>
            <td>
              <div id="check" class="row">
                <img id = "oui" src="../../assets/icon/oui.png"><img id = "non" src="../../assets/icon/non.png">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </mat-tab>
    <mat-tab label="Toutes" >
      <form id='toutes'>
        <br>
        <div class="form-group form-inline">
            Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Horaire</th>
            <th scope="col">Véhicule</th>
            <th scope="col">Commentaire</th>
            <th scope="col">Effectué ?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let fakeCommandes of fakeCommandesPresta$ | async; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <ngb-highlight [result]="fakeCommandes.id" [term]="filter.value"></ngb-highlight>
            </td>
            <td><ngb-highlight [result]="fakeCommandes.type" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="fakeCommandes.horaire" ></ngb-highlight></td>
            <td><ngb-highlight [result]="fakeCommandes.vehicule" ></ngb-highlight></td>
            <td><ngb-highlight [result]="fakeCommandes.commentaire" ></ngb-highlight></td>
            <td>
              <div id="check" class="row">
                <img id = "oui" src="../../assets/icon/oui.png"><img id = "non" src="../../assets/icon/non.png">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<br>
<!------------------------------------------------------------------------------------------>
<div id ='servicesTerm' class='col-8 offset-2'>
  <div class ="servicesTermHead col-row col-12">
    <span class = 'col-5'>Services terminés</span>
    <input class = 'col-3' id= 'servicesTermSearch' type="text"  placeholder="Chercher">
    <img src="../../assets/icon/loupe.png">
  </div>
  <form>
    <br>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th scope="col">Horaire</th>
      <th scope="col">Véhicule</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Facture</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fakeCommandes of fakeCommandesPresta$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="fakeCommandes.id" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="fakeCommandes.type" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="fakeCommandes.horaire" ></ngb-highlight></td>
      <td><ngb-highlight [result]="fakeCommandes.vehicule" ></ngb-highlight></td>
      <td><ngb-highlight [result]="fakeCommandes.commentaire" ></ngb-highlight></td>
      <td>
        Télécharger la facture
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>



