/*span{
    text-align: left;
    color: white;
    text-decoration: none !important;
    border: none;
    outline: none;
    font-size: 20px;
}
.title{
    display: inline;
}
.infoContent{
    display: flex;
    flex-direction: row;
}*/
#planning{
    font-size: x-large;
}

#commandes{
    height: 40%;  
    overflow-y: scroll;
}
#commandes::-webkit-scrollbar{
    display:none;
}
#commandesForm{
    overflow-y: scroll;
}
#commandesForm::-webkit-scrollbar{
    display:none;
}

.commandesHead{
    height: 25%;
    width: 100%;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.commandesHead span{
    justify-content: flex-start;
    font-size: 31px;
    align-self: center;
}
.commandesHead input{
    height:75%;
    margin-left: auto;
    align-self: center;
    border-radius: 7px;
}
.commandesHead img{
    height:90%;
    align-self: center;
    justify-content: flex-end;
}
#check{
    display: flex;
    flex-direction: row;
}
#oui{
    height:30px;
    align-self: center;
}
#non{
    height:30px;
    align-self: center;
    margin-left: 20%;
}

#servicesPlan{
    height: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#servicesPlan::-webkit-scrollbar{
    display:none;
}

.servicesPlanHead{
    height: 15%;
    width: 100%;
    background-color: orangered;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.servicesPlanHead span{
    justify-content: flex-start;
    font-size: 31px;
    align-self: center;
}
.servicesPlanHead input{
    height:75%;
    margin-left: auto;
    align-self: center;
    border-radius: 7px;
}
.servicesPlanHead img{
    height:90%;
    align-self: center;
    justify-content: flex-end;
}

#servicesTerm{
    height: 33%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#servicesTerm::-webkit-scrollbar{
    display:none;
}

.servicesTermHead{
    height: 15%;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.servicesTermHead span{
    justify-content: flex-start;
    align-self: center;
    font-size: 30px;
}
.servicesTermHead input{
    height:75%;
    margin-left: auto;
    align-self: center;
    border-radius: 7px;
}
.servicesTermHead img{
    height:90%;
    align-self: center;
    justify-content: flex-end;
}
#toutes{
    overflow-x: hidden;
}
#aujourdhui{
    overflow-x: hidden;
}

