    <!--div ngbDropdown class="d-inline-block" *ngIf="isAuth">
        <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem class="btn btn-primary" routerLink="profil">Profil</button>
        <button ngbDropdownItem class="btn btn-primary" 
        *ngIf="currentUser.status==='client'" 
        routerLink="voitures">Véhicules</button>
        <button ngbDropdownItem class="btn btn-primary" *ngIf="currentUser.status==='prestataire'" routerLink="commandesPresta">Commandes</button>
        <button ngbDropdownItem class="btn btn-primary" *ngIf="currentUser.status==='prestataire'" routerLink="voitures">Agenda</button>
        <button ngbDropdownItem class="btn btn-primary" *ngIf="currentUser.status==='prestataire'" routerLink="voitures">Historique</button>
        <button ngbDropdownItem class="btn btn-primary" *ngIf="currentUser.status==='prestataire'" routerLink="voitures">Rapport</button>
        <button ngbDropdownItem class="btn btn-primary" *ngIf="currentUser.status==='prestataire'" routerLink="voitures">Emplacement liés</button>
        <button ngbDropdownItem class="btn btn-primary" *ngIf="currentUser.status==='prestataire'" routerLink="tarifFormPresta">Prestations</button>-->
        <button class="deconnect" (click)="logOut()">Déconnexion</button>
      <!--</div>
    </div>-->

