#board{
    position:fixed;
    width:60%;
    height: 5%;
    background-color: grey;
    color:white;
    bottom: 0; 
}
#button{
    background-color: orange;
    color:grey;
    height: 100px;
    width:100px;
}