<div>
    <form [formGroup] = "uploadForm" >      
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button (click)="onSubmit()" type="submit">Upload</button>
      </div>
    </form>
</div>

