<br>
<br>
<div id='authContent' class= 'form col-8 col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-2 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3'>
<br>
<br>
<div class= 'logo col-8 col-xs-3 col-sm-6 col-md-6 col-lg-8 col-xl-8 offset-2 offset-sm-3 offset-md-3 offset-lg-2 offset-xl-2'><img src="../../assets/logo/Logo.png"/></div>
<form [formGroup]="authForm">
<br>
<h5 class='vosServices col-8 offset-2'>Vos services à porté de main</h5>
      <div class="form-group ">
        <label for="exampleInputEmail1" ></label>
        <input type="email" name= "mail" class="form-control col-xs-8 col-md-8 col-lg-8 offset-lg-2 offset-md-2" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName ='mail' placeholder="E-mail">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"></label>
        <input type="password" name = "password" class="form-control col-xs-8 col-md-8 col-lg-8 offset-lg-2 offset-md-2" id="exampleInputPassword1" placeholder="Password" formControlName='password'>
      </div>
      <div class="connectButton">
          <button type="submit" class="btn col-xs-8 col-md-8 col-lg-8 offset-lg-2 offset-md-2" (click)="onSubmit()" >Connexion</button>
      </div>
      <br>
      <h5 class= 'noCompte'>Vous n'avez pas encore de compte ?</h5>
      <div class="registreLink col-xs-12 col-sm-12 col-md-8 col-xl-8 col-lg-8 offset-lg-2 offset-md-2 offset-xl-2">
        <a id="registreSubmit" class="" (click)="openDialog()" >S'inscrire gratuitement</a>
      </div>
</form>
</div>

