$primary: rgb(233, 112, 0);
$secondary: rgb(170, 170, 170 );

.form{
    height: 90%;
    background-color: black;
    border-color: #545b62;
    border-radius: 0.23rem;    
}
#prestataire{
    margin-left: 60% !important;
}
.logo{
    height: 30%;
    color: black;
}
.logo img{
    height:100%;
    width:100%;
}
h5{
    font-style: italic;
    text-align: center;
    word-spacing: 0.3em;
}
h4{
    text-align: center;
    color: $primary;
}
input{
    background-color: grey;
    color: white;
    font-style: italic;
    text-align: center;
    height: 70px;
    font-size: 25px;
}
::placeholder{
    color: white;
}
.btn{
    background-color: $primary;
    height: 70px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 3px;
}
#registreSubmit{
    position: relative;
    text-align: center;
    color: $primary;
    font-size: 25px;
    padding: 3px;
}
#registreSubmit:hover{
    cursor: pointer;
}

/*-----------------responsive part-----------------------*/

@media handheld, (max-width: 675px){
    #authContent{
        margin-top: -8%;
    }
    .logo{
        height: 23%;
        color: black;
        margin-top: -10%;
    }
    .vosServices{
        font-size: 12px;
        font-style: italic;
    }
    #exampleInputEmail1{
        height: 35px;
        font-size: 20px;
        margin-bottom: -15%;
    }
    #exampleInputPassword1{
        height: 35px;
        font-size: 20px;
    }
    .connectButton button{
        height: 35px;
        font-size: 20px;
        text-align:center;
        vertical-align : middle;
    }
    .noCompte{
        font-size: 13px;
        font-style: italic;
    }
    #registreSubmit{
        position: relative;
        text-align: center;
        color: $primary;
        font-size: 20px;
        vertical-align : middle;
    }
    #registreSubmit:hover{
        cursor: pointer;
    }
}


