<div class= 'col-10 offset-1'>
<ngb-accordion #acc="ngbAccordion" >
        <ngb-panel id="toggle-1" title="Basique"class='buttonBasique'>
          <ng-template ngbPanelContent>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Nettoyage intérieur et extérieur simple.</textarea>
                <div class="col-12">
                        <img class='col-2' src="../../assets/carsPictures/carA.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carB.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carC.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carD.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carE.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carF.svg"/>
                </div>
                <div class="col-12 test">
                <div class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </div>
                <div class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </div>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
            </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="toggle-2" title="Finitions">
          <ng-template ngbPanelContent>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Nettoyage intérieur et extérieur, avec finitions. </textarea>
                <div class="col-12">
                        <img class='col-2' src="../../assets/carsPictures/carA.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carB.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carC.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carD.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carE.svg"/>
                        <img class='col-2' src="../../assets/carsPictures/carF.svg"/>
                </div>
                <div class="col-12 test">
                <div class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </div>
                <div class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </div>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
                <span class='col-2 tarif'>
                    <mat-form-field class="tarif">
                        <span matPrefix>CHF &nbsp;</span>
                        <input size="3" type="number" matInput>
                        <span matSuffix>.- &nbsp;</span>
                    </mat-form-field>
                </span>
            </div>
            </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
          
      
      