img{
    width: 60%;
    //height: 25px;
}
#tarifInput{
    height:19px;
    width: 100px;
}
.tarif {
    min-width: 100px;
    width: 100%;
}
#toggle-1-header{
    display: flex;
    flex-direction: row;
    color: white;
    border-style: outline;
    border: none;
    background-color: transparent;
    outline: none;
    color:white;
    border-style: outline;
    border:0;
}
.test{
    display: flex;
    flex-direction: row;
}