<mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Tapez votre mot de passe actuel</ng-template>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="submit" (click)="checkPassword()">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Tapez votre nouveau mot de passe</ng-template>
        <mat-form-field>
          <mat-label>New password</mat-label>
          <input matInput formControlName="newPassword" required>
        </mat-form-field>
        <div>
          <!--<button mat-button matStepperPrevious>Back</button>-->
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Réussis !</ng-template>
      <p>Votre mot de passe a bien été changé.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
