<br>
<br>
<div class="form-group">
  <div class="title">
    <span>Ajouter un véhicule</span>
  </div>
  <br>
  <br>
  <br>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Marque</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let carBdd of fakeCarBdd"><button ngbDropdownItem (click)="onSelectCar(carBdd)">{{ carBdd  }}</button></div>
        </div>
     </div><br><br>
     <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Modèle</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let car of filteredCar"><button ngbDropdownItem>{{ car.model }}</button></div>
        </div>
     </div><br><br>
     <button class="btn btn-danger">Mon véhicule n'est pas référencé</button><br>
     <br><br>
     <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Couleur</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let color of couleur"><button ngbDropdownItem>{{ color }}</button></div>
        </div>
     </div>
     <br>
     <br>
     
</div>
