<div>
  <form [formGroup] = "uploadForm" >      
    <div>
      <input type="file" formControlName='profile' (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit" (click)="onSubmit()" >Upload</button>
    </div>
  </form>
</div>
<div class="mat-dialog-content">
        <form [formGroup]="userForm" >
          <div class="form-group">   
            <div class='row'>
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                  <span>Choisir une photo de profil</span>
                  <br>
                  <br>
                  <!--<input  type="file" id="avatar"  formControlName='avatar'/>
                  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" >
                    Upload an Image
                  </button>-->
                <br>
                <br>
                <mat-form-field>
                  <mat-label for="nom" color="primary">Nom</mat-label>
                  <input matInput id="nom" placeholder="Nom" formControlName='nom' required/>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label for="prenom">Prénom</mat-label>
                  <input matInput type="text" id="prenom" placeholder="Prénom" formControlName='prenom' required />
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label for="inputEmail">Email</mat-label>
                  <input matInput type="email" id="inputEmail" placeholder="Email" formControlName='email' required>
                  </mat-form-field>
                  <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
                    Mail invalide
                  </div>
                  <button mat-button (click) ="changePassword()">Changer mon mot de passe</button>
              <br> 
              <span id='phoneSpan'>Numéro de téléphone *</span>
              <br>
              <ngx-intl-tel-input [preferredCountries]="[CountryISO.Switzerland, CountryISO.France]" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Switzerland" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode] = "true"
                [inputId]="phone" name="phone" formControlName="phone" required></ngx-intl-tel-input>
                <div *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched ">
                  Numéro de téléphone invalide
                </div>
              </div>
                            <!--
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <mat-form-field class="form-group col-8">
                  <mat-label for="inputPassword4">Password</mat-label>
                  <input matInput formControlName='password' type="password" id="inputPassword" placeholder="Password" required>
                </mat-form-field>
                <div *ngIf="userForm.get('password').invalid &&
                          (userForm.get('password').dirty || userForm.get('password').touched)" class="alert alert-danger">
                  <div *ngIf="userForm.get('password').errors['required'] ">
                    Le mot passe est requis
                  </div>
                  <div *ngIf="userForm.controls['password'].hasError('minlength')">
                    Le mot de passe doit au moins comporter 6 caractères
                  </div>
                  <div *ngIf="userForm.controls['password'].hasError('maxlength')">
                    Le mot de passe doit au plus comporter 20 caractères
                  </div>
              </div>
              <br>
            <mat-form-field class="form-group col-8">
              <mat-label for="inputPassword4">Confirm Password</mat-label>
              <input matInput formControlName='confirmPassword' type="password" id="inputPasswordConfirm" placeholder="Confirm Password"
                required>
            </mat-form-field>
            <div *ngIf="userForm.get('confirmPassword').invalid &&
                        (userForm.get('confirmPassword').dirty || userForm.get('confirmPassword').touched)" class="alert alert-danger">
              <div *ngIf="userForm.get('confirmPassword').errors['required'] ">
                Le mot passe est requis
              </div>
              <div *ngIf="userForm.controls['confirmPassword'].hasError('minlength')">
                Le mot de passe doit au moins comporter 6 caractères
              </div>
              <div *ngIf="userForm.controls['confirmPassword'].hasError('maxlength')">
                Le mot de passe doit au plus comporter 20 caractères
              </div>
              <div *ngIf="userForm.get('confirmPassword').value !== userForm.get('password').value">
                Les deux mots de passes doivent être identiques !
              </div>
            </div>
          </div>-->
        </div>
      </div>
          <br>
          <mat-checkbox *ngIf="userForm.get('type').value == 'Client'" formControlName='entrepriseCheck' (change)="onEntrepriseCheckChange()">Je représente une entreprise</mat-checkbox><br>
          <!--Si l'utilisateur représente une entreprise-->
          <mat-form-field class="form-group col-10" *ngIf="userForm.get('entrepriseCheck').value == true && userForm.get('type').value == 'Client'">
            <mat-label for="inputEntreprise">Nom de l'entreprise</mat-label>
            <input matInput type='text' id="inputEntreprise" placeholder="Entreprise" formControlName='inputEntreprise' required>
          </mat-form-field>
          <mat-form-field class="form-group col-10" *ngIf="userForm.get('entrepriseCheck').value == true && userForm.get('type').value == 'Client'">
            <mat-label for="inputEntrepriseTVA">Numero de TVA</mat-label>
            <input matInput type='textarea' placeholder="ex: CHE-123.456.789TVA:" id="inputEntrepriseTVA" formControlName='inputEntrepriseTVA'
              pattern="[a-zA-Z]{3}\-[0-9]{3}\.[0-9]{3}\.[0-9]{3}[azA-Z]{3}" required>
          </mat-form-field>
         <!-- <div *ngIf="userForm.get('inputEntrepriseTVA').invalid && userForm.get('inputEntrepriseTVA').touched && userForm.get('entrepriseCheck').value == true">
            Numéro de TVA invalide
          </div>-->
          <!--------------------------------Si l'utilisateur est un prestataire-->
          <button (click)="submitForm()" id='submit' type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Modifier mon profil</button>
        </form>
      </div>
