.avatar{
    height:20%;
    width: 100%;
    border-radius: 100px;
    text-align: center;
}
h5{
    color: orange;
}
.avatar img{
    height: 66%;
    width: 50%;
    border-radius: 130px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.entrepriseName{
    background-color: grey;
    height: 20%;
    text-align: center;
    vertical-align: center;
}
#edit{
    background-color: orange;
    color:white;
    border:none;
    border-radius: 100px;
}
/* véhicules///////////////////////////////////////////*/
.mesVehicules{
    display: inline-flexbox;
    flex-direction: row;
}
mat-card{
    background-color: grey;
    text-align: center;
}
mat-card img{
    height:20%;
    width:90%;
}
