<br>
<br>
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Mes informations générales</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br>
      <button (click)="openDialog()">Editer photo profil</button>
      <button id="edit" (click)="openDialog1()">Editer</button>
      <div class="avatar col-6 offset-3">
          <img src='../../assets/icon/avatar.png'>
      </div>
      <br>
      <br>
    <div class="row">
        <div id="leftBlock" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h5>Mail</h5>
          <span>{{currentUser.email}}</span><br>
          <br>
          <h5>Nom</h5>
          <span>{{currentUser.nom}}</span><br>
          <h5>Prenom</h5>
          <span>{{currentUser.prenom}}</span><br>
        </div>  
        <div id="rightBlock" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <h5>Téléphone</h5>
          <span>{{currentUser.phone}}</span>
          <br> 
        </div> 
    </div>
          <br>
          <br>
          <!--<h3>Représente une entreprise</h3><br>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" ><h5>Oui</h5> </mat-radio-button>
            <mat-radio-button value="2"><h5>Non</h5> </mat-radio-button>
          </mat-radio-group>-->
          <div class="entrepriseName col-4 offset-4">
              <h4>Nom de l'entreprise:</h4>
              <h5></h5>
          </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <br>
  <!-----------------------------------------------VEHICULES--------------->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Mes véhicules</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br>
      <div class="mesVehicules" *ngFor= 'let car of cars'>
        <mat-card class='col-3'>
            <mat-card-title><h4>{{car.name}}</h4></mat-card-title>
            <mat-card-content><img src="../{{car.picture}}"></mat-card-content>
        </mat-card>
        <br>
        <br>
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>
  
  
  
  

