ngb-accordion{
    color: white !important;
}
span{
    text-align: left;
    color: white;
    text-decoration: none !important;
    border: none;
    outline: none;
}
#label{
    font-size: 25px; 
    text-align: left;
}
.caMeCasseLesCouilles{
    text-align: left;
}
#dropdownBasic1{
    float: left;
}
#prestaSearch{
    margin-left: auto;
    float: right !important;
}