<br>
<br>
<h2 class= 'col-4 offset-2'style="color: black;">Liste de mes prestataires</h2>
<br>
<div class=" row col-10 offset-1">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Mes véhicules</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div *ngFor="let car of cars"><button ngbDropdownItem>{{car.name}}</button></div>
      </div>
    </div>
      <input  id= 'prestaSearch' type="text" [(ngModel)]="prestaFilter.label" placeholder=" Chercher un prestataire ">
    <!-- in case you want to show empty message -->
    <span *ngIf="(prestataires | filterBy: prestaFilter).length === 0">Aucun resultats</span>
</div>
<br>
<br>
<div class="col-10 offset-1" *ngFor="let presta of prestataires | filterBy: prestaFilter">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel>
    <ng-template ngbPanelTitle>
    <div class='caMeCasseLesCouilles'>
      <span id='label'>{{presta.label}} </span><br>
      <span>{{presta.serviceDescription}}</span>
    </div>
    </ng-template>
    <ng-template ngbPanelContent>
        <mwl-demo-component ></mwl-demo-component>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<br>