<br>
<br>
<!-- Tableau de bord du client-->
Hello {{currentUser['prenom']}} 
<div class="row col-8 offset-2">
<h4 >Vous avez 3 voitures enregistrées</h4>
<a (click)= 'openDialog()' title='Ajouter un véhicule' id= "orderServ"><img src='../../assets/icon/add.png'></a>
</div>

<ngb-carousel #carousel="ngbCarousel" class='col-8 offset-2' (click)="clickOnCarousel(carousel)" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let car of cars; let i = index;" >
      <div class="picsum-img-wrapper">
        <img src='../{{ car.picture }}' alt="{{car.name}}">
      </div>
    </ng-template>
</ngb-carousel>
<br>
<div id= 'compteurContent' class="row col-8 offset-2">
  <img id='compteur' src='../../assets/icon/compteur.png'/>
  <button type="button" class="btn btn-secondary" id='commandeService' routerLink='/listePresta'>Commander un service</button>
</div>
<br>
<div class='col-8 offset-2'>
<ngb-accordion #a="ngbAccordion" activeIds="custom-panel-1"  >
<ngb-panel>
  <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
          <button ngbPanelToggle class="buttonSpec"><h5  class="m-0">Véhicule: {{cars[currentCarId].name}}</h5></button>
          <button ngbPanelToggle class=" buttonSpec "><img src="https://img.icons8.com/small/16/000000/chevron-down.png"></button>
      </div>
  </ng-template>
  <ng-template ngbPanelContent>
    <ul class="list-group" id= 'caracteristique'>
      <li class="list-group-item"><b>Marque:</b>   {{cars[currentCarId].marque}}</li>
      <li class="list-group-item"><b>Type du véhicule:</b>   {{cars[currentCarId].type}}</li>
      <li class="list-group-item"><b>Immatriculation:</b>    {{cars[currentCarId].immat}}</li>
      <li class="list-group-item"><b>Couleur:</b>    {{cars[currentCarId].couleur}}</li>
      <li class="list-group-item"><b>Date de mise en circulation:</b>    {{cars[currentCarId].dateMC}}</li>
      <li class="list-group-item"><b>Motorisation:</b>  {{cars[currentCarId].motorisation}}</li>
      <li class="list-group-item"><b>Dimension des pneus été:</b>  {{cars[currentCarId].pneuEte}}</li>
      <li class="list-group-item"><b>Dimensions des pneus hiver:</b>  {{cars[currentCarId].pneuHiver}}</li>
      <li class="list-group-item"><b>Leasing:</b>  {{cars[currentCarId].leasing}}</li>
      <li class="list-group-item"><b>Numero de contrat:</b>  {{cars[currentCarId].contractNo}}</li>
      <li class="list-group-item"><b>Assurance:</b>  {{cars[currentCarId].assurance}}</li>
    </ul>
  </ng-template>
</ngb-panel>
<br>
<ngb-panel>
  <ng-template ngbPanelHeader>
    <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="buttonSpec"><h5  class="m-0">Historique</h5></button>
      <div>
        <button ngbPanelToggle class=" buttonSpec "><img src="https://img.icons8.com/small/16/000000/chevron-down.png"></button> 
      </div>
    </div>
  </ng-template>
  <ng-template ngbPanelContent>
      <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col-2">Date</th>
              <th scope="col-3">Type</th>
              <th scope="col-4">Description</th>
              <th scope="col-3">Documents</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">02/10/19</th>
              <td>Nettoyage Extérieur</td>
              <td>Nettoyage complet inter/exter</td>
              <td><button class="btn-orange ">Ajouter un document</button></td>
            </tr>
            <tr>
              <th scope="row">02/09/19</th>
              <td>Nettoyage Intérieur</td>
              <td>Nettoyage complet inter/exter</td>
              <td><ul><li><a href="">Facture WashCar no2564.pdf</a></li></ul></td>
            </tr>
            <tr>
              <th scope="row">24/09/19</th>
              <td>Revision</td>
              <td>Vidange huile moteur + filtre à air</td>
              <td><ul><li><a href="">Facture FeuVert no1246.pdf</a></li></ul></td>
            </tr>
          </tbody>
        </table>
        
  </ng-template>
</ngb-panel>
</ngb-accordion>
</div>
<app-menu-side></app-menu-side>



