img {
    width: 100%;
    max-height: 500px;
}
#compteur{
    width:60px;
    height:60px;
}
#commandeService{
    background-color: orange;
    font-size: larger;
}
.card {
    background-color:rgba(0,0,0, 0.5) !important;
    color:red;
}
.row {
    display: flex;
    justify-content: space-between;
}
.row a{
   
}
ngb-carousel{
    outline:none;
}
#orderServ{
    position: right;
}
#caracteristique{
    background-color:rgba(0,0,0, 0.5) !important;
    color:black;
}
.carousel-caption{
    margin-left:-15%;
    margin-right:-15%;
    margin-bottom:-4%;
    background-color:rgba(0,0,0, 0.5) !important;
}
#orderServ{
    float: right;
    display: block;
    margin-left: 5px;
}
.buttonSpec{
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
    border-style: outline;
    border:0;
}
ngb-accordion img{
    outline: none;
}
a, #addCar{
    text-decoration: none;
    color: orange;
}
 .btn-orange{
    border-style: outline;
    color: white;
    background-color: orange;
    display: inline-block;
    font-weight: 400;
    
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

