
#JeSuis{
    margin-right: 10px;
}
mat-radio-button{
    margin-right: 10px;
}
.btn {
    background-color: orange;
    border-color: orange;
    font-size: larger;
}
// workaround
.intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 4;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input .form-control {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }
  .mat-dialog-content {
      max-height:100%;
  }
  #phoneSpan{
    color: rgba(255,255,255,.7);
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 75%;
  }
  #submit:disabled{
    background-color:rgb(41, 37, 37);
  }
  ngx-intl-tel-input{
    color: black;
  }