<div class="mat-dialog-content">
  <form [formGroup]="userForm">
    <div class="form-group">
      <br/>
      <br>
      <mat-radio-group aria-label="Select an option" formControlName='type'>
        <br>
        <mat-radio-button value="Prestataire">Je suis Prestataire</mat-radio-button>
        <mat-radio-button value="Client">J'ai un véhicule</mat-radio-button>
      </mat-radio-group>
      <br>
      <div *ngIf="userForm.get('type').value == 'Client'">
        et je cherche un service de qualité
      </div>
      <div *ngIf="userForm.get('type').value == 'Prestataire'">
        et je propose des services automobiles de qualité
      </div>
      <br>

      <div class='row'>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <mat-form-field>
            <mat-label for="nom" color="primary">Nom</mat-label>
            <input matInput id="nom" placeholder="Nom" formControlName='nom' required/>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label for="prenom">Prénom</mat-label>
            <input matInput type="text" id="prenom" placeholder="Prénom" formControlName='prenom' required />
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label for="inputEmail">Email</mat-label>
            <input matInput type="email" id="inputEmail" placeholder="Email" formControlName='email' required>
            </mat-form-field>
            <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
              Mail invalide
            </div>
        <br> 
        <span id='phoneSpan'>Numéro de téléphone *</span>
        <br>
        <ngx-intl-tel-input [preferredCountries]="[CountryISO.Switzerland, CountryISO.France]" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
          [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Switzerland" [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode] = "true"
          [inputId]="phone" name="phone" formControlName="phone" required></ngx-intl-tel-input>
          <div *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched ">
            Numéro de téléphone invalide
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
          <mat-form-field class="form-group col-8">
            <mat-label for="inputPassword4">Password</mat-label>
            <input matInput formControlName='password' type="password" id="inputPassword" placeholder="Password" required>
          </mat-form-field>
          <div *ngIf="userForm.get('password').invalid &&
                    (userForm.get('password').dirty || userForm.get('password').touched)" class="alert alert-danger">
            <div *ngIf="userForm.get('password').errors['required'] ">
              Le mot passe est requis
            </div>
            <div *ngIf="userForm.controls['password'].hasError('minlength')">
              Le mot de passe doit au moins comporter 6 caractères
            </div>
            <div *ngIf="userForm.controls['password'].hasError('maxlength')">
              Le mot de passe doit au plus comporter 20 caractères
            </div>
        </div>
      <br>
      <mat-form-field class="form-group col-8">
        <mat-label for="inputPassword4">Confirm Password</mat-label>
        <input matInput formControlName='confirmPassword' type="password" id="inputPasswordConfirm" placeholder="Confirm Password"
          required>
      </mat-form-field>
      <div *ngIf="userForm.get('confirmPassword').invalid &&
                  (userForm.get('confirmPassword').dirty || userForm.get('confirmPassword').touched)" class="alert alert-danger">
        <div *ngIf="userForm.get('confirmPassword').errors['required'] ">
          Le mot passe est requis
        </div>
        <div *ngIf="userForm.controls['confirmPassword'].hasError('minlength')">
          Le mot de passe doit au moins comporter 6 caractères
        </div>
        <div *ngIf="userForm.controls['confirmPassword'].hasError('maxlength')">
          Le mot de passe doit au plus comporter 20 caractères
        </div>
        <div *ngIf="userForm.get('confirmPassword').value !== userForm.get('password').value">
          Les deux mots de passes doivent être identiques !
        </div>
      </div>
    </div>
  </div>
</div>
    <br>
    <mat-checkbox *ngIf="userForm.get('type').value == 'Client'" formControlName='entrepriseCheck' (change)="onEntrepriseCheckChange()">Je représente une entreprise</mat-checkbox><br>
    <!--Si l'utilisateur représente une entreprise-->
    <mat-form-field class="form-group col-10" *ngIf="userForm.get('entrepriseCheck').value == true && userForm.get('type').value == 'Client'">
      <mat-label for="inputEntreprise">Nom de l'entreprise</mat-label>
      <input matInput type='text' id="inputEntreprise" placeholder="Entreprise" formControlName='inputEntreprise' required>
    </mat-form-field>
    <mat-form-field class="form-group col-10" *ngIf="userForm.get('entrepriseCheck').value == true && userForm.get('type').value == 'Client'">
      <mat-label for="inputEntrepriseTVA">Numero de TVA</mat-label>
      <input matInput type='textarea' placeholder="ex: CHE-123.456.789TVA:" id="inputEntrepriseTVA" formControlName='inputEntrepriseTVA'
        pattern="[a-zA-Z]{3}\-[0-9]{3}\.[0-9]{3}\.[0-9]{3}[azA-Z]{3}" required>
    </mat-form-field>
   <!-- <div *ngIf="userForm.get('inputEntrepriseTVA').invalid && userForm.get('inputEntrepriseTVA').touched && userForm.get('entrepriseCheck').value == true">
      Numéro de TVA invalide
    </div>-->
    <!--------------------------------Si l'utilisateur est un prestataire-->
    <mat-form-field class="form-group col-10" *ngIf="userForm.get('type').value == 'Prestataire'">
      <mat-label for="inputEntreprisePresta">Nom de votre entreprise</mat-label>
      <input matInput type='text' id="inputEntreprisePresta" formControlName='inputEntreprisePresta' placeholder="Entreprise" required>
    </mat-form-field>
    <mat-form-field class="form-group col-10" *ngIf="userForm.get('type').value == 'Prestataire'">
      <mat-label for="inputEntrepriseAdressePresta">Adresse de l'entreprise</mat-label>
      <input matInput type='textarea' id="inputEntrepriseAdressePresta" formControlName='inputEntrepriseAdressePresta' placeholder="Adresse de votre entreprise"
        required>
    </mat-form-field>
    <mat-form-field class="form-group col-10" *ngIf="userForm.get('type').value == 'Prestataire'">
      <mat-label for="inputEntrepriseTVAPresta">Numero de TVA </mat-label>
      <input matInput type='textarea' id="inputEntrepriseTVAPresta" placeholder='ex: CHE-123.456.789TVA:' formControlName='inputEntrepriseTVAPresta'
        required>
        <!-- pattern="[a-zA-Z]{3}\-[0-9]{3}\.[0-9]{3}\.[0-9]{3}[azA-Z]{3}"  regex de la tva-->
    </mat-form-field>
    <div *ngIf="userForm.get('inputEntrepriseTVAPresta').invalid && userForm.get('inputEntrepriseTVAPresta').touched">
      Numéro de TVA invalide
    </div>
    <mat-form-field class="form-group col-10" *ngIf="userForm.get('type').value == 'Prestataire'">
      <mat-label for="inputEntrepriseIBANPresta">IBAN de votre entreprise</mat-label>
      <input matInput type='textarea' id="inputEntrepriseIBANPresta" formControlName='inputEntrepriseIBANPresta' placeholder="ex: CH9300762011623852957"
        pattern="[a-zA-Z]{2}[0-9]{19}" required>
    </mat-form-field>
    <div *ngIf="userForm.get('inputEntrepriseIBANPresta').invalid && userForm.get('inputEntrepriseIBANPresta').touched">
      IBAN invalide
    </div>
    <br>
    <button (click)="submitForm()" id='submit' type="submit" class="btn btn-primary" [disabled]="userForm.invalid">M'inscrire</button>
  </form>
</div>
