
//@import '~@angular/material/theming';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary: rgb(233, 112, 0);
$secondary: rgb(170, 170, 170 );

body{
    height:100%;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: cornsilk;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card {
    background-color: rgb(0,0,0, 0.7) !important;
}
.card-header{
    background-color: rgb(128, 128, 128, 0.8) !important;
}
.carousel-indicators li{
    border-bottom: 0px solid transparent !important;
}
html, body {
     height: 100%; 
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*
$mat-myapp-primary: (
    50 : #f0f0f1,
    100 : #d9dadd,
    200 : #c0c1c6,
    300 : #a7a8af,
    400 : #94969e,
    500 : #81838d,
    600 : #797b85,
    700 : #6e707a,
    800 : #646670,
    900 : #51535d,
    A100 : #c9d1fc,
    A200 : #98a8f9,
    A400 : #5f7aff,
    A700 : #4665ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);




$mat-myapp-accent: (
    50 : #fffaed,
    100 : #fff4d1,
    200 : #ffecb3,
    300 : #ffe494,
    400 : #ffdf7d,
    500 : #ffd966,
    600 : #ffd55e,
    700 : #ffcf53,
    800 : #ffca49,
    900 : #ffc038,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5e1,
    A700 : #ffedc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);*/
