<br>
<div class="col-3">
    <ul class="col-10 leftMenu"id='leftMenu'>
        <a routerLink=''><li class="commandes">Commandes effectuées non livrées</li></a><br>
        <a routerLink=''><li class="agenda">Agenda</li></a><br>
        <a routerLink=''><li class="historique">Historique</li></a><br>
        <a routerLink=''><li class="rapport">Rapport</li></a><br>
        <a routerLink=''><li class="emplacementLies">Emplacement liés</li></a><br>
        <a routerLink=''><li class="assistantProfil">Profil assistant</li></a><br>
        <a routerLink='tarifFormPresta'><li class="TarifBoard">Gérer mes prestations</li></a><br>
        <a routerLink='auth'><li class="deconnect">Déconnexion</li></a>
    </ul>
</div>
