a{
    text-decoration: none;
}
#leftMenu>a>li{
    text-decoration: none;
    list-style: none;
    text-align: center;
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    border-radius: 0.25rem;
}
#leftMenu>a>li:hover{
    margin-left: 20px;
}